body{
    background-color: pink;

    margin: 0px;

        font-family: "Nerko One", cursive;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 100px
      }
      


header{
    border-bottom:solid 5px rgb(255, 105, 180);
    padding:20px;
    font-style:italic;
    font-size:  28px;
    

}

.chamada {
   background: rgb(229 122 175); 
   padding-bottom: 80px;
   padding-top:80px;
   display: flex;
   justify-content: center;
}
.chamada-texto {
    margin-right:3%;
}

h1{
    font-size: 30px
}
    
p{
   font-size:15px;
}
img{
    height: 200px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
   padding-left: 20px; 
   padding-right: 20px;
}
.categoria-videos img {
    opacity: 0.5;

}
.categoria-videos img:hover {
    opacity: 1.0;

}
